@import url("https://fonts.cdnfonts.com/css/avenir-next-lt-pro");

.App {
  background: green;
  min-height: 100dvh;
  height: 100vh;
}

.login {
  // background: black;
  min-height: 100vh;
  display: flex;
  padding: 20px;
  gap: 12px;
  .left {
    flex: 1;
    .logo {
      padding: 10px;
      margin: 80px 0 0px 80px;
      display: flex;
      color: #213f7d;
      font-size: 25px;
      align-items: center;
      img {
        height: 30px;
        width: 30px;
        margin-right: 10px;
      }
    }
    .image-container{
      height: 400px;
      width: 400px;
      margin: 60px 0 0 80px;
    }
    .login-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .right {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .right-login-content{
      .input-container{
        padding: 10px 0;
        position: relative;
        margin: 10px 0;
        input{
          width: 100%;
          height: 50px;
          border-radius: 6px;
          outline: none;
          padding: 0 10px;
          font-size: 15px;
          border: rgb(206, 204, 204) 1px solid;
        }
        p{
          color: #39CDCC;
          position: absolute;
          font-family: 'Avenir Next';
          font-weight: 600;
          top: 24px;
          cursor: pointer;
          right: 30px;
        }
      }
      h2 {
        color: #213F7D;
        font-size: 40px;
        margin-bottom: 20px;
      }
      p.details-desc{
        color: #545f7d;
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 20px;
      }
      p.forget{
        color: #39CDCC;
        margin-bottom: 50px;
        font-weight: 600;
      }
      button{
        background-color: #39CDCC;
        color: white;
        outline: none;
        border: none;
        width: 100%;
        height: 47px;
        border-radius: 8px;
        letter-spacing: 1.8px;
      }
      width: 100%;
      padding: 20px;
      width: 80%;
      padding: 10px;
    }
  }
}

// .login {
//   width: 100vw;
//   font-family: 'Avenir Next LT Pro', sans-serif;
//   .login-wrapper {
//     // background: goldenrod;
//     height: 100vh;
//     display: flex;
//     // flex-direction: column;
//     flex-wrap: wrap;
//     // justify-content: center;
//     // align-items: center;
//     // width: 100%;
//     gap: 10px;
//     padding: 20px;
//     .left-login {
//       background-color: red;
//       flex: 1;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       .logo {
//         padding: 10px;
//         // height: 50px;
//         // width: 50px;
//         width: fit-content;
//         margin: 80px 0 0px 80px;
//         display: flex;
//         color:#213F7D;
//         font-size: 25px;
//         align-items: center;
//         img {
//           height: 30px;
//           width: 30px;
//           margin-right: 10px;
//         }
//       }
//       // height: 100%;
//       > img {
//         height: 540px;
//         width: 400px;
//         width: 540px;
//         // width: 38rem;
//         // height: 38rem;
//         margin: 0px 0 0 80px;
//         object-fit: contain;
//       }
//     }
//     .right-login {
//       // width: 100%;
//       flex: 1;
//       padding: 10px;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       background-color: blue;
//       width: 100%;
//       height: 100vw;
//       .right-login-content{
//         .input-container{
//           // background: purple;
//           padding: 10px 0;
//           position: relative;
//           margin: 10px 0;
//           input{
//             width: 100%;
//             height: 50px;
//             border-radius: 6px;
//             outline: none;
//             padding: 0 10px;
//             font-size: 15px;
//             border: rgb(206, 204, 204) 1px solid;
//           }
//           p{
//             color: #39CDCC;
//             position: absolute;
//             font-family: 'Avenir Next';
//             font-weight: 600;
//             top: 24px;
//             cursor: pointer;
//             right: 30px;
//           }
//         }
//         h2 {
//           color: #213F7D;
//           font-size: 40px;
//           margin-bottom: 20px;
//         }
//         p.details-desc{
//           color: #545f7d;
//           margin-bottom: 50px;
//           font-weight: 400;
//           font-size: 20px;
//         }
//         p.forget{
//           color: #39CDCC;
//           margin-bottom: 50px;
//           font-weight: 600;
//         }
//         button{
//           background-color: #39CDCC;
//           color: white;
//           outline: none;
//           border: none;
//           width: 100%;
//           height: 47px;
//           border-radius: 8px;
//           letter-spacing: 1.8px;
//         }
//         background: green;
//         width: 100%;
//         padding: 20px;
//         width: 80%;
//         padding: 10px;
//       }
//     }
//   }
// }

@media screen and (max-width: 880px) {
  .login {
    flex-direction: column;
    gap: 40px;
    .left{
    .image-container{
      margin: 60px 0 0 20px;
      // background: blue;
      height: 300px;
      width: 300px;
      width: 90%;
      height: 90%;
    }
    .logo {
      padding: 10px;
      margin: 40px 0 0px 20px;
      display: flex;
      color: #213f7d;
      font-size: 25px;
      align-items: center;
      img {
        height: 26px;
        width: 26px;
        margin-right: 10px;
      }
    }
    }
    .right {
      padding: 0;
      .right-login-content{
        // width: 100%;
        .input-container{
          padding: 5px 0;
          margin: 0;
          width: 100%;
          input{
            width: 100%;
            height: 40px;
            padding: 0 7px;
            font-size: 14px;
          }
          p{
            font-weight: 600;
            top: 15px;
            cursor: pointer;
            right: 30px;
            font-size: 13px;
          }
        }
        h2 {
          font-size: 33px;
          margin-bottom: 20px;
        }
        p.details-desc{
          margin-bottom: 40px;
          font-size: 18px;
        }
        p.forget{
          margin-bottom: 40px;
          margin-top: 20px;
        }
        button{
          width: 100%;
          height: 45px;
        }
        width: 100%;
        padding: 20px;
        width: 80%;
        padding: 10px;
      }
    }
  }
}
